.bg-bank {
    background-color: #0c27a3 !important;
}

.text-bank {
    color: #0c27a3 !important;
}

.btn.btn-bank {
    color: #fff !important;
    background-color: #0c27a3 !important;
}

.btn-outline-bank {
    color: #0c27a3 !important;
    border-color: #0c27a3 !important;
}

.btn-outline-bank :hover {
    color: #ffffff !important;
    background-color: #0c27a3 !important;
    border-color: #0c27a3 !important;
}

.border-bank {
    border-color: #0c27a3 !important;
}

.nav-line-tabs .nav-item .nav-link.active, .nav-line-tabs .nav-item .nav-link:hover:not(.disabled), .nav-line-tabs .nav-item.show .nav-link {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #0c27a3;
    transition: color .2s ease, background-color .2s ease;
}

.nav-line-tabs.nav-line-tabs-2x .nav-item .nav-link.active, .nav-line-tabs.nav-line-tabs-2x .nav-item .nav-link:hover:not(.disabled), .nav-line-tabs.nav-line-tabs-2x .nav-item.show .nav-link {
    border-bottom-width: 2px;
}

.nav-line-tabs.nav-line-tabs-3x .nav-item .nav-link.active, .nav-line-tabs.nav-line-tabs-3x .nav-item .nav-link:hover:not(.disabled), .nav-line-tabs.nav-line-tabs-3x .nav-item.show .nav-link {
    border-bottom-width: 3px;
}

.form-check.form-check-solid .form-check-input:checked {
    background-color: #0c27a3;
}

:root {
    --circle-size: clamp(1.5rem, 5vw, 3rem);
    --spacing: clamp(0.25rem, 2vw, 0.5rem);
}

.c-stepper__item {
    position: relative;
    display: flex;
    gap: 1rem;
    padding-bottom: 4rem;
}

.c-stepper__item:before {
    content: "";
    flex: 0 0 var(--circle-size);
    height: var(--circle-size);
    border-radius: 50%;
    background-color: lightgrey;
}

.c-stepper__item:not(:last-child):after {
    content: "";
    position: absolute;
    left: 0;
    top: calc(var(--circle-size) + var(--spacing));
    bottom: var(--spacing);
    z-index: -1;
    transform: translateX(calc(var(--circle-size) / 2));
    width: 2px;
    background-color: #e0e0e0;
}

.c-stepper__title {
    font-weight: bold;
    font-size: clamp(1rem, 4vw, 1.25rem);
    margin-bottom: clamp(0.85rem, 2vmax, 1rem);
}

.c-stepper__desc {
    color: grey;
    font-size: clamp(0.85rem, 2vmax, 1rem);
}

.c-stepper__content {
    max-width: 700px;
}

.page-bg {
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(/assets/media/misc/page-bg.jpg);
}

.btn-group-sm>.btn, .btn-xs {
    --bs-btn-padding-y: 0.5rem;
    --bs-btn-padding-x: 0.80rem;
    --bs-btn-font-size: 0.595rem;
    --bs-btn-border-radius: 0.425rem;
}

